.friend_list {
    padding-inline-start: 0;
}


.item {
    display: flex;
    border: solid 2px #d8e0ea;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}


.statusOnline,
.statusOffline {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    margin: 0 15px 0 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.statusOffline {
    background-color: red;
}

.avatar {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
}

.name {
    font-weight: bold;
    padding-top: 5px;    
}