.transaction_history {
    display: block;
    width: 350px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    margin-bottom: 20px; 

}
thead {
background-color: rgb(60, 55, 55);
}

th {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}


tbody tr {
    padding: 5px;
	background: #efefef;
	border: 1px solid #2a2a2a;
    border-collapse: collapse;

}
tbody td {
    width: 110px;
	padding: 5px 10px;
    border-collapse: collapse;
	border: 1px solid #2a2a2a;
	text-align: left;
}

tbody tr:nth-child(odd){
	background: #fff;
}

tbody tr:nth-child(even){
	background: #e9e6e6;
}